@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
  @apply text-blue-700 dark:text-blue-500;
}
.slick-prev, .slick-next {
  display: none;
}
.max {
  max-height: 400px;
}
.IAMGE{
  text-align: left !important;
}
.hidden1{
  display: none !important;
}
html, body {
  overflow-x: hidden;
}

